subject-service/src/main/resources/SubjectService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://web.subject_service.subject.groupeisi.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SubjectWS" targetNamespace="http://web.subject_service.subject.groupeisi.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://web.subject_service.subject.groupeisi.com/" elementFormDefault="unqualified" targetNamespace="http://web.subject_service.subject.groupeisi.com/" version="1.0">

  <xs:element name="addSubject" type="tns:addSubject"/>

  <xs:element name="addSubjectResponse" type="tns:addSubjectResponse"/>

  <xs:element name="deleteSubject" type="tns:deleteSubject"/>

  <xs:element name="deleteSubjectResponse" type="tns:deleteSubjectResponse"/>

  <xs:element name="getAllSubjects" type="tns:getAllSubjects"/>

  <xs:element name="getAllSubjectsResponse" type="tns:getAllSubjectsResponse"/>

  <xs:element name="getSubjectById" type="tns:getSubjectById"/>

  <xs:element name="getSubjectByIdResponse" type="tns:getSubjectByIdResponse"/>

  <xs:element name="updateSubject" type="tns:updateSubject"/>

  <xs:element name="updateSubjectResponse" type="tns:updateSubjectResponse"/>

  <xs:complexType name="getAllSubjects">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllSubjectsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:subject"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subject">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="teacherId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubjectById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubjectByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:subject"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addSubject">
    <xs:sequence>
      <xs:element minOccurs="0" name="subject" type="tns:subjectRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subjectRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="teacherId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addSubjectResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:subject"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteSubject">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteSubjectResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateSubject">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="subject" type="tns:subjectRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateSubjectResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:subject"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllSubjects">
    <wsdl:part element="tns:getAllSubjects" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubjectById">
    <wsdl:part element="tns:getSubjectById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubjectByIdResponse">
    <wsdl:part element="tns:getSubjectByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSubjectResponse">
    <wsdl:part element="tns:addSubjectResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSubject">
    <wsdl:part element="tns:deleteSubject" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSubjectResponse">
    <wsdl:part element="tns:deleteSubjectResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateSubjectResponse">
    <wsdl:part element="tns:updateSubjectResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addSubject">
    <wsdl:part element="tns:addSubject" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateSubject">
    <wsdl:part element="tns:updateSubject" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllSubjectsResponse">
    <wsdl:part element="tns:getAllSubjectsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SubjectSoapService">
    <wsdl:operation name="getAllSubjects">
      <wsdl:input message="tns:getAllSubjects" name="getAllSubjects">
    </wsdl:input>
      <wsdl:output message="tns:getAllSubjectsResponse" name="getAllSubjectsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubjectById">
      <wsdl:input message="tns:getSubjectById" name="getSubjectById">
    </wsdl:input>
      <wsdl:output message="tns:getSubjectByIdResponse" name="getSubjectByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSubject">
      <wsdl:input message="tns:addSubject" name="addSubject">
    </wsdl:input>
      <wsdl:output message="tns:addSubjectResponse" name="addSubjectResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSubject">
      <wsdl:input message="tns:deleteSubject" name="deleteSubject">
    </wsdl:input>
      <wsdl:output message="tns:deleteSubjectResponse" name="deleteSubjectResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSubject">
      <wsdl:input message="tns:updateSubject" name="updateSubject">
    </wsdl:input>
      <wsdl:output message="tns:updateSubjectResponse" name="updateSubjectResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubjectWSSoapBinding" type="tns:SubjectSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllSubjects">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllSubjects">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllSubjectsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubjectById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSubjectById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSubjectByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSubject">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addSubject">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addSubjectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSubject">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteSubject">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteSubjectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSubject">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateSubject">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateSubjectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubjectWS">
    <wsdl:port binding="tns:SubjectWSSoapBinding" name="SubjectSoapServicePort">
      <soap:address location="http://localhost:8083/services/SubjectService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>